*.pyc
.vscode/*
build/*
dist/*
old/*
QPlot.py
Qtest.py
typeIIatest.csv
.vscode/settings.json
CAXBD_old.csv
Cowie res.csv
typeIIa_alt.CSV
OPUS old BL res.csv
CAXBD.csv
OPUS old BL rev.csv
test res.csv
test rev.csv
