*.pyc
test results
test review
test2 res
test2 results
test2 rev
test2 review
test3 rev
.vscode/launch.json
old/*
123QCanvasHelper_old.py
QPlot.py
Qtest.py
test res.csv
test rev.csv
abc res.csv
abc rev.csv
DVK 159 peakfit.csv
test.csv
test2.csv
typeIIatest.csv
DVK 159 complete peak fit.csv
Sese results.csv
Sese review.csv
Sese K1 58 8 3107 batch peak fit.csv
.vscode/settings.json
