*.pyc
.vscode/*
build/*
dist/*
old/*
QPlot.py
Qtest.py
typeIIatest.csv
DVK 159 complete peak fit.csv
Sese results.csv
Sese review.csv
Sese K1 58 8 3107 batch peak fit.csv
.vscode/settings.json
Mersmann test res.csv
Mersmann test rev.csv
CAXBD_old.csv
Cowie res.csv
typeIIa_alt.CSV
Cowie rev.csv
OPUS old BL res.csv
CAXBD.csv
OPUS old BL rev.csv
test res.csv
test rev.csv
